* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* There's probably a better way to do this... */
header, .information, .quote {
    padding: 0 15%;
}

header, .hero, footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.header-links a{
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 24px;
    padding: 60px 15%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.main-image {
    position: relative;
}

.main-image img {
    width: 100%;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text, .header-links a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero button, .newsletter, .newsletter-signup-button {
    background-color: #3882F6;
}

.information {
    display: flex;
    flex-direction: column;
}

.information-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cities {
    display: flex;
    gap: 36px;
    padding-bottom: 48px;
    justify-content: center;
}

.city {
    max-width: 150px;
}

.city img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid#3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.newsletter {
    margin: 6% 15%;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    color: #F9FAF8;
    justify-content: space-around;
}

.newsletter-content {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.newsletter-signup {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.newsletter-signup-button, .hero button {
    width: 14vh;
    color: #e5e5e5;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 5px 30px;
    border-color: #F9FAF8;
    color: #F9FAF8;
}

.secondary-heading {
    font-weight: bold;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    padding: 10px;
}